html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong {
    font-weight: 500;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* raleway-300 - latin_cyrillic */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/raleway-v27-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v27-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v27-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v27-latin_cyrillic-300.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-500 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v27-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v27-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v27-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v27-latin_cyrillic-500.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-700 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v27-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v27-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v27-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v27-latin_cyrillic-700.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-900 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/raleway-v27-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v27-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v27-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v27-latin_cyrillic-900.svg#Raleway') format('svg'); /* Legacy iOS */
  }

html {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
*, *::before, *::after {
    box-sizing: inherit;
}

#main .fullwidth-box .fusion-row {
    max-width: 1920px;
}

body {
    min-width: 1920px;
    font-family: 'Raleway' ;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto; 
}

.section_title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #562380;
}

/* Header styles start */

.header {
    top: 0;
    left: 0;
}

.header_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 30px;
}

.header_active {
    background: #000;
}

.header_logo_pic, .header_logo_vector {
    text-decoration: none;
}
.header_logo_pic {
    width: 81px;
    height: 28px;

    margin-right: 8px;
}

.header_logo_vector {
    width: 17px;
    height: 18px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    width: 735px;
    height: 28px;
} 

.header_logo, .header_number {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 40px;
}
 
.header_item:last-child{
    margin-right: 0px;
}

.header_link {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: black;
    text-decoration: none;
}

.header_link_number {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: black;
    text-decoration: none;
    font-variant-numeric: lining-nums;
}

.header_link:after{
    content: "";
    display: block;
    width: 100%;
	height: 3px;
	opacity: 0;

	border-radius: 5px;
	border: 2px solid #F5AF48;
	transition: opacity 0.1s linear;
}

.header_link:hover::after{
    opacity: 1;
}

/* Header styles end */

/* Intro styles start */

.intro {
    min-width: 1500px;
    min-height: 712px;
    padding-top: 179px;
    margin-bottom: 200px;
}

.intro_title {
    max-width: 821px;
    max-height: 150px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #562380;  
    margin-bottom: 43px;
    margin-right: 171px;
}

.intro_subtitle {
    max-width: 590px;
    max-height: 46px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px; 
    margin-bottom: 64px;
}

.intro_booking_button {
    color: white;
    padding: 18px 80px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    background: #019149;
    border-radius: 50px;
    border: 0;
}

.intro_booking_button:hover, .intro_booking_button:focus {
    background: #006A35;
    transition: 0.3s all;
}

.intro_dog {
    width: 310px;
    height: 480px;
    float: right;
}

.intro_cat {
    position: relative;
    width: 200px;
    height: 300px;
    float: right;
    z-index: 1;
    left: 90px;
    bottom: 80px;
}

/* Intro styles end */

/* POP UP Booking Style Start */

.pop_up_b {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.pop_up_b:active {
    display: block;
}

.pop_up_b_wrapper {
    display: flex;
    width: 100%;
    height: 100%;

}

.pop_up_b_body {
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    background: white;
    border-radius: 60px;
}

.pop_up_b_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 88px;
    margin-left: 70px;
    margin-right: 70px;
}

.pop_up_b_card {
    grid-column: span 1;
    margin: auto;
    margin-bottom: 20px;
}

.pop_up_b-title, .pop_up_b_am-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #562380;
    margin-bottom: 5px;
}

.pop_up_b-input {
    width: 200px;
    height: 40px;
    outline: 0;
    padding: 10px;
    border: 1px solid #562380;
    border-radius: 10px;
    font-variant-numeric: lining-nums;

}

.pop_up_b_am {
    margin-left: 90px;
    margin-bottom: 50px;
}

.pop_up_b_am-input {
    width: 420px;
    height: 40px;
    margin-bottom: 40px;
    outline: 0;
    padding: 10px;
    border: 1px solid #562380;
    border-radius: 10px;
}

.pop_up_b_com {
    width: 420px;
    height: 80px;
    outline: 0;
    padding: 10px;
    border: 1px solid #562380;
    border-radius: 10px;
}

.pop_up_b-input::placeholder, .pop_up_b_am-input::placeholder, .pop_up_b_com::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #CACACA;
    font-variant-numeric: lining-nums;

}

.pop_up_b-button {
    width: 310px;
    height: 59px;
    margin-left: 145px;
    background: #CACACA;
    border: 0;
    border-radius: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.pop_up_b_x {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 25px;
    right: 39px;
    font-size: 21px;
    cursor: pointer;
}

/* POP UP Booking Styles End */

/* Why We Styles Start */

.why_we_wrapper {
    max-width: 1145px;
    max-height: 625px;
    margin: 0 auto;
    margin-bottom: 200px;

}

.why_we_title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #562380;
    padding-left: 381px;
    padding-right: 383px;
    padding-bottom: 100px;
}
.why_we_slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.why_we_house {
    float: left;
    width: 650px;
    height: 450px;
}

.why_we_slider_title{
    width: 282px;
    height: 42px;
    float: right;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin-top: 109px;
    margin-right: 113px;
    margin-left: 100px;
}

.why_we_slider_title:after {
    content: "";
    display: block;
    width: 100%;
	height: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
	border-radius: 5px;
	border: 2px solid #F5AF48;
}

.why_we_slider_text {
    position: relative;
    bottom: 265px;
    left: 75px;
    float: right;
    max-width: 395px;
    max-height: 115px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

.why_we_slider_button_l, .why_we_slider_button_r {
    position: relative;
    right: 325px;
    bottom: 170px;
    border: 0;
    background-repeat: no-repeat;
    background: transparent;

}

/* Why we Styles End */


/* Number Dog Styles Start */

.number_wrapper {
    width: 1520px;
    height: 760px;
    margin: 0 auto;
    margin-bottom: 200px;
    background-color: #FFFAF5;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.number_caption{
    width: 581px;
    height: 75px;
    margin-left: 451px;
    padding-top: 50px;
    padding: auto;
}

.number_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-template-rows: auto auto;
    width: 310px;
    height: 410px;
    padding: 0 100px;
    margin-top: 160px;
    padding-left: 220px;

}

.number_card{
    grid-column: span 1;
    box-sizing: border-box;
    border: 4px solid;
    border-radius: 50px;
    border-color: #562380;
}

.number_card-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #562380;
    margin-top: 31px;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right: 156px;
}

.number_card-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
    margin-left: 25px;
    font-variant-numeric: lining-nums;
}

.number_card-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 40px;
    margin-left: 25px;
}

.number_card-price {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #562380;
    font-variant-numeric: lining-nums;
    margin-bottom:  31px;
    margin-left: 26px;

}

.number_dog-pic {
    position: relative;
    left: 693px;
    bottom: 117.5px;
}

/* Number Dog Styles End */

/* Booking Styles Start */

.booking_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1067px;
    height: 76px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.booking_title {
    width: 657px;
    height: 76px;
    margin-left: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #019149;

}

.booking_button {
    margin-right: 0;
    margin-left: 100px;
    width: 310px;
    height: 59px;
    
    color: white;
    padding: 18px 80px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    background: #019149;
    border-radius: 50px;
    border: 0;
}

.booking_button:hover, .booking_button:focus {
    background: #006A35;
    transition: 0.3s all;
}

/* Booking Styles End */

/* Number Cats Styles Start */

.number_C_wrapper {
    width: 1520px;
    height: 760px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #FFFAF5;
    background-repeat: no-repeat;
    border-radius: 50px;
    margin-bottom: 200px;
}

.number_C_caption {
    width: 597px;
    height: 75px;
    padding-top: 41px;
    margin-left: 460px;
    margin-bottom: 160px;
}

.number_C_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-template-rows: auto auto;
    width: 310px;
    height: 410px;
    padding: 0 100px;
    margin-top: 160px;
    padding-left: 383px;
}

.number_C_card {
    grid-column: span 1;
    box-sizing: border-box;
    border: 4px solid;
    border-radius: 50px;
    border-color: #562380;

}

.number_C_card-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #562380;
    margin-top: 31px;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right: 156px;

}

.number_C_card-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
    margin-left: 25px;
    font-variant-numeric: lining-nums;
}

.number_C_card-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 40px;
    margin-left: 25px;
}

.number_C_card-price {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #562380;
    font-variant-numeric: lining-nums;
    margin-bottom:  31px;
    margin-left: 26px;

}

.number_C_pic {
    position: relative;
    left: 530px;
    bottom: 152px;
}

/* Number Cats Styles End  */

/* Service Styles Start  */

.service_wrapper {
    width: 1300px;
    height: 768px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.service_caption {
    width: 773px;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.service_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-template-rows: auto auto;
    margin-bottom: 50px;
}

.service_card {
    width: 420px;
    height: 520px;
    box-sizing: border-box;
    border: 4px solid;
    border-radius: 50px 50px 50px 50px;
    border-color: #CACACA;
    background-clip: border-box;
}

.service_card-pic {
    width: 416px;
    height: 280px;
    z-index: 1;
}

.service_card-title {
    margin-top: 33px;
    margin-bottom: 10px;
    margin-left: 45px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    
}

.service_card-subtitle {
    width: 340px;
    height: 72px;
    margin-bottom: 30px;
    margin-left: 45px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

.service_card-price {
    width: 194px;
    height: 56px;
    margin-bottom: 16px;
    margin-left: 45px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #019149;
    font-variant-numeric: lining-nums;
}

.service_card-num {
    font-size: 48px;
    font-weight: 700;
}

.service_operator {
    width: 338px;
    height: 23px;
    margin: 0 auto;
}

.service_operator-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

/* Service Styles End  */

/* Questions Styles Start */
.question_wrapper {
    width: 1300px;
    height: 1034px;
    margin: 0 auto;
}

.question_caption {
    width: 368px;
    height: 150px;
    margin-bottom: 69px;
}

.question_pics {
    float: left;
    width: 310px;
    height: 510px;
}

.question_pic-dog {
    position: relative;
    z-index: 1;
}

.question_pic-bg {
    position: relative;
    bottom: 490px;
    right: 15px;
}

        /* ACCORDION START */
.q_accordion_item-trigger::-webkit-details-marker{display:none;}
.q_accordion_item-trigger::-moz-list-bullet{list-style-type:none;}
.q_accordion_item-trigger::marker{display:none;} 

.q_accordion {
    float: right;
    max-height: 558px;
    position: relative;
    bottom: 210px;
}

.q_accordion_item {
    display:block;
    margin-bottom: 40px;
    max-width: 860px;
    max-height: 158px;
  
}

.q_accordion_item-trigger {
   display: inline-block;
   max-width: 734px;
   max-height: 76px;
   padding: 41px;
   cursor: pointer;
   background: #F7F3FF;
   border-radius: 50px;
   font-weight: 500;
   font-size: 32px;
   line-height: 38px;
   background: #F7F3FF;
   border-radius: 50px;
   color: #562380;
}


.q_accordion_item-trigger ~ * {
   padding: 0 1em 0 1em;
}

.q_accordion_item-trigger:focus {
  outline:0;
}

.q_accordion_item[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

.q_accordion_item-content {
    background: #F7F3FF;
    border-radius: 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    background: #F7F3FF;
    border-radius: 50px;
    color: #562380;
}
        /* ACCORDION END */

/* Question Styles End */

/* Question Last Styles Start */

.question_last_wrapper {
    margin-bottom: 210px;
}

.question_last-input-name-text, .question_last-input-number-text {
    outline: 0;
    padding: 10px;
    border: 1px solid #019149;
    border-radius: 50px;
}

.question_last-input-name-text::placeholder, .question_last-input-number-text::placeholder {
    color: #CACACA;
    padding: 11px;
}
.question_last_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;

}

.question_last_caption {
    width: 312px;
    height: 38px;
    margin-right: 128px;
}

.question_last-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #019149;
}

.question_last-input_name {
    width: 200px;
    height: 40px;
    margin-right: 35px;
}

.question_last-input_number {
    width: 205px;
    height: 40px;
    margin-right: 130px;
}

.question_last-button-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    background: #019149;
    border: 0;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 18px;
    padding-left: 77px;
    padding-right: 77px;
}

.question_last-button-text:hover, .question_last-button-text:focus {
    background: #006A35;
    transition: 0.3s all;
}

/* Question Last Styles End */

/* Pop Up Questions Styles Start */

.pop_up_q {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.pop_up_q:active {
    display: block;
}

.pop_up_q_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_q_body {
    position: relative;
    width: 800px;
    height: 400px;
    background: #562380;
    border-radius: 50px;
    margin: auto;
    font-variant-numeric: lining-nums;
}

.pop_up_q-title {
    padding-top: 145px;
    padding-left: 81px;
    padding-right: 81px;
    padding-bottom: 145px;
}

.pop_up_q-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: white;
}

.pop_up_q-pic {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 35px;
    right: 39px;
    font-size: 21px;
    cursor: pointer;
}
/* Pop Up Questions Styles End */

/* Gallery Styles Start */

.gallery_wrapper {
    width: 1300px;
    height: 755px;
    margin: 0 auto;
    margin-bottom: 215px;
    display: flex;
    flex-wrap: wrap;
}

.gallery_caption {
    margin: 0 auto;
    margin-bottom: 100px;
}

.gallery_cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin-bottom: 53px;
}

.gallery_card {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery_card-pic {
    width: 420px;
    height: 240px;
}

.gallery_button_l, .gallery_button_r {
    width: 25px;
    height: 25px;
    border: 0;
    background-repeat: no-repeat;
    background: transparent;
}

.gallery_button_l {
    margin-left: 600px;
}

.gallery_button_r {
    margin-left: 15px;
}

/* Gallery Styles End */

/* Welcome Styles Start */

.welcome_wrapper {
    width: 1078px;
    height: 420px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.welcome_caption {
    width: 539px;
    height: 75px;
    margin-bottom: 100px;
}

.welcome_text {
    float: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    font-variant-numeric: lining-nums;
}

.welcome_city, .welcome_date, .welcome_number {
    margin-bottom: 20px;
}

.welcome_map {
    position: relative;
    float: right;
    bottom: 177px;
}

.welcome_google_maps {
    width: 420px;
    height: 420px;
    border-radius: 50%;
}

/* Welcome Styles End */

/* Footer Styles Start */

.footer {
    width: 1920px;
    height: 147px;
    padding: 25px 0;
    margin: 0 auto;
    margin-bottom: 50px;
}

.footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;

    border: 2px solid #F5AF48;
    margin-bottom: 50px;
}

.footer_wrapper {
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.footer_logo {
    align-items: center;
    margin-right: 5px;
    margin-left: 310px;
    margin-right: 156px;
}

.footer_logo_pic {
    width: 81px;
    height: 28px;
}

.footer_logo_vector {
    width: 18px;
    height: 18px;
}

.footer_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_item {
    margin-right: 60px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: black;
}

.footer_item:last-child {
    margin-right: 0px;
}

.footer_messanger {
    display: flex;
    justify-content: space-around;
    margin-right: 310px;
    margin-left: 153px;
}

.footer_facebook {
    margin-right: 10px;
}

.footer_logo_pic, .footer_logo_vector, .footer_link, .footer_facebook-link, .footer_telegram-link {
    text-decoration: none;
}

.footer_policity {
    max-width: 1920px;
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.footer_policity-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.footer_policity-item {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin-right: 286px;
}

.footer_policity-item:last-child {
    margin-right: 0px;
}
/* Footer Styles End */
